html {
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  display:block;
  margin: 0;
}

header {
  height: 4rem;
}

nav {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;

}

nav ul li {
  display: inline;
  padding: 1rem 0;
}

.mobile-menu {
  display: none;
}

.banner {
  background-color: lightgray;
  width: 100%;
}

.banner .container {
  display: inline-flex;
}

.banner .image-container {
  width: 60%;
  height: auto;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

.banner img {
  width: 100%;
  height:auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.banner-content h1 {
  font-size: 2rem;
}

.banner-content h2 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.banner .button {
  background-color: gray;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  width: 85%;
  text-align: center;
  margin-top: 40px;
}

.content {
  background-color: white;
  width: 100%;
}

.content .container {
  display: inline-flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

 .column-left {
  width: 60%;
  #height: auto;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.column-left img {
  width: 100%;
  height: auto;
}

.content .column-right {
  width: 40%;
  height:auto;
  border-left: 1px solid lightgray;
}

.feature {
  display: flex;
  padding-left: 1rem;
}

.feature-image {
  width: 35%;
  #width: 148px;
  height: auto;
}

.feature img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 243px;
  margin-left: 1.5rem;
}

 .title h1 {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.courses {
  background-color: lightgray;
  display: block;
  justify-content: flex-start;
  padding: 1.5rem
}

.course-mosaic {
  display: flex;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.tile{
display:flex;
flex-direction: column;
width: 30%;
margin: 1em;
}

.tile img{
  height: 13.75rem;
  width: auto;
}

.tile-text{
display:block;
height: 3.5rem;
background-color: white;
padding:1rem 1em 2em 1em;
}

.tile-title {
  padding: .5em 0 .5em 0;
}

.course-topics {
  font-size: .9em;
}

.thesis-left {
 width: 75%;
 padding-left: 1.5rem;
 padding-right: 1rem;
}

.thesis-right {
 width: 40%;
 height:auto;
}

 .video-container {
  width: 100%;
  height: auto;
}

.thesis {
  display: flex;
  #padding-left: 1rem;
}

.thesis-image {
  width: 35%;
  height: auto;
}

.thesis img {
  width: 100%;
  height: auto;
  #margin-top: 1rem;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 243px;
  margin-left: 1.5rem;
}

footer {
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

footer ul li {
  display: inline;
  padding: 1rem 0;
  padding-right: 1.5rem;
}
